body {
    background-color: #247e6c;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}


h1, H2, H3, H4 {
    color: #eaf5ff;
}


main {
    text-align: center;
}

footer {
    text-align: center;
}

table, th, tr, td {
    border: solid black 1px;

}

hr {
    border: dashed #a9c6de 5px;
}

img {
    margin:50px 0 50px;
    border-radius: 25%;
}